[submodule "datasets/crows-pairs"]
	path = datasets/crows-pairs
	url = https://github.com/nyu-mll/crows-pairs.git
[submodule "datasets/bbq"]
	path = datasets/bbq
	url = https://github.com/nyu-mll/bbq.git
[submodule "datasets/biosbias"]
	path = datasets/biosbias
	url = https://github.com/microsoft/biosbias.git
[submodule "datasets/bold"]
	path = datasets/bold
	url = https://github.com/amazon-research/bold.git
[submodule "datasets/bias-bench"]
	path = datasets/bias-bench
	url = https://github.com/McGill-NLP/bias-bench.git
